dist
node_modules
apps/server/src/app/generated/rest/dto
libs/core/webhook/src/lib/generated/rest/dto
libs/core/auth/src/lib/generated/rest/dto
libs/sdk/fullstack-rest-sdk/src/lib/generated
libs/sdk/fullstack-rest-sdk-angular/src/lib/generated