SERVER_SSO_MINIO_SERVER_HOST=localhost
SERVER_SSO_MINIO_ACCESS_KEY=FWGmrAGaeMKM
SERVER_SSO_MINIO_SECRET_KEY=QatVJuLoZRARlJguoZMpoKvZMJHzvuOR
SERVER_SSO_ROOT_DATABASE_URL=postgres://postgres:postgres_password@localhost:5432/postgres?schema=public
SERVER_SSO_REDIS_URL=redis://:CHmeOQrZWUHwgahrfzsrzuREOxgAENsC@localhost:6379
SERVER_SSO_MINIO_ROOT_USER=FWGmrAGaeMKM
SERVER_SSO_MINIO_ROOT_PASSWORD=QatVJuLoZRARlJguoZMpoKvZMJHzvuOR
SERVER_SSO_SSO_DATABASE_URL=postgres://sso:sso_password@localhost:5432/sso?schema=public
SERVER_SSO_SSO_SINGLE_SIGN_ON_KEYV_URL=redis://:CHmeOQrZWUHwgahrfzsrzuREOxgAENsC@server-authorizer-redis:6379
SERVER_SSO_SSO_SINGLE_SIGN_ON_MINIO_SERVER_HOST=server-sso-minio
SERVER_SSO_SSO_SINGLE_SIGN_ON_MINIO_ACCESS_KEY=FWGmrAGaeMKM
SERVER_SSO_SSO_SINGLE_SIGN_ON_MINIO_SECRET_KEY=QatVJuLoZRARlJguoZMpoKvZMJHzvuOR
SERVER_SSO_SSO_SINGLE_SIGN_ON_NOTIFICATIONS_MAIL_TRANSPORT=smtp://server-sso-maildev:1025
SERVER_SSO_SSO_SINGLE_SIGN_ON_NOTIFICATIONS_MAIL_DEFAULT_SENDER_NAME=Bot
SERVER_SSO_SSO_SINGLE_SIGN_ON_NOTIFICATIONS_MAIL_DEFAULT_SENDER_EMAIL=bot@nestjs-mod-fullstack.maildev
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_SERVER_URL=http://localhost:3000
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_CLIENT_URL=http://localhost:4200
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_ADMIN_SECRET=VfKSfPPljhHBXCEohnitursmgDxfAyiD
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_ADMIN_EMAIL=nestjs-mod-fullstack@site15.ru
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_ADMIN_USERNAME=admin
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_ADMIN_PASSWORD=SbxcbII7RUvCOe9TDXnKhfRrLJW5cGDA
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_DEFAULT_PUBLIC_PROJECTS='Beijing:ru=Пекин,Jq6GQ6Rzz6x8HNOD4x2Hc2eM0cfiCVUzGfsi,X6nk0OZXQJboSEfugnH35e9oSeg5RFlV0DQprtYyYDQjNli9mA;Moscow:ru=Москва,OceX08HGZ89PTkPpg9KDk5ErY1uMfDcfFKkw,VJztpDIwvqG6IkTVEIDEw1Ed2Wu5oHu6zfBe7CCJFrCtyWO2Yv;New York:ru=Нью-Йорк,4OGD25Rmn3W3MP0kMd7c90rGP1WwK8u4wL1w,qm8nc9MgKyvd6Hgl3jY5BjgDFSBqNvxcu6o52kDjIC168OsM1R;'
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_DEFAULT_PROJECT='default:ru=по умолчанию,KzMRNEZTetzatIgQPVSDYfeGyaZrbLzkcxNc,qaHkVpAtUVIpDdLXMlAOzsBfMRJblWoHpXguYQRBuSEBpGKbWt'
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_GOOGLE_OAUTH_CLIENT_ID=
SERVER_SSO_SSO_SINGLE_SIGN_ON_SSO_GOOGLE_OAUTH_CLIENT_SECRET_KEY=
SERVER_SSO_PORT=3000
SERVER_SSO_KEYV_URL=redis://:CHmeOQrZWUHwgahrfzsrzuREOxgAENsC@server-sso-redis:6379
SERVER_SSO_APP_DATABASE_URL=postgres://app:app_password@localhost:5432/app?schema=public
SERVER_AUTHORIZER_MINIO_SERVER_HOST=
SERVER_AUTHORIZER_MINIO_ACCESS_KEY=
SERVER_AUTHORIZER_MINIO_SECRET_KEY=
SERVER_AUTHORIZER_ROOT_DATABASE_URL=
SERVER_AUTHORIZER_REDIS_URL=
SERVER_AUTHORIZER_MINIO_ROOT_USER=
SERVER_AUTHORIZER_MINIO_ROOT_PASSWORD=
SERVER_AUTHORIZER_AUTHORIZER_ADMIN_SECRET=
SERVER_AUTHORIZER_AUTHORIZER_DATABASE_TYPE=
SERVER_AUTHORIZER_AUTHORIZER_DATABASE_URL=
SERVER_AUTHORIZER_AUTHORIZER_DATABASE_NAME=
SERVER_AUTHORIZER_AUTHORIZER_REDIS_URL=
SERVER_AUTHORIZER_PORT=
SERVER_AUTHORIZER_KEYV_URL=
SERVER_AUTHORIZER_APP_DATABASE_URL=
SERVER_AUTHORIZER_WEBHOOK_DATABASE_URL=
SERVER_AUTHORIZER_AUTH_DATABASE_URL=
SERVER_AUTHORIZER_AUTHORIZER_REDIRECT_URL=
SERVER_AUTHORIZER_MINIO_URL=
SERVER_AUTHORIZER_AUTH_ADMIN_EMAIL=
SERVER_AUTHORIZER_AUTH_ADMIN_PASSWORD=
SERVER_AUTHORIZER_AUTH_ADMIN_USERNAME=
E2E_CLIENT_URL=
E2E_SERVER_URL=
DISABLE_SERVE_STATIC=
SERVER_AUTHORIZER_POSTGRE_SQL_POSTGRESQL_USERNAME=
SERVER_AUTHORIZER_POSTGRE_SQL_POSTGRESQL_PASSWORD=
SERVER_AUTHORIZER_POSTGRE_SQL_POSTGRESQL_DATABASE=
SERVER_AUTHORIZER_REDIS_REDIS_DATABASE=
SERVER_AUTHORIZER_REDIS_REDIS_PASSWORD=
SERVER_AUTHORIZER_MINIO_MINIO_ROOT_USER=
SERVER_AUTHORIZER_MINIO_MINIO_ROOT_PASSWORD=
SERVER_AUTHORIZER_AUTHORIZER_PORT=
SERVER_AUTHORIZER_AUTHORIZER_AUTHORIZER_URL=
SERVER_AUTHORIZER_AUTHORIZER_COOKIE_NAME=
SERVER_AUTHORIZER_AUTHORIZER_DISABLE_PLAYGROUND=
SERVER_AUTHORIZER_AUTHORIZER_ACCESS_TOKEN_EXPIRY_TIME=
SERVER_AUTHORIZER_AUTHORIZER_DISABLE_STRONG_PASSWORD=
SERVER_AUTHORIZER_AUTHORIZER_DISABLE_EMAIL_VERIFICATION=
SERVER_AUTHORIZER_AUTHORIZER_ORGANIZATION_NAME=
SERVER_AUTHORIZER_AUTHORIZER_IS_EMAIL_SERVICE_ENABLED=
SERVER_AUTHORIZER_AUTHORIZER_IS_SMS_SERVICE_ENABLED=
SERVER_AUTHORIZER_AUTHORIZER_EXTERNAL_CLIENT_PORT=
SERVER_AUTHORIZER_AUTHORIZER_RESET_PASSWORD_URL=
SERVER_AUTHORIZER_AUTHORIZER_ROLES=
SERVER_AUTHORIZER_AUTHORIZER_DEFAULT_ROLES=
SERVER_AUTHORIZER_AUTHORIZER_JWT_ROLE_CLAIM=
SERVER_AUTHORIZER_AUTHORIZER_ORGANIZATION_LOGO=
SERVER_AUTHORIZER_AUTHORIZER_COUCHBASE_BUCKET=
SERVER_AUTHORIZER_AUTHORIZER_COUCHBASE_BUCKET_RAM_QUOTA=
SERVER_AUTHORIZER_AUTHORIZER_COUCHBASE_SCOPE=
LOCALHOST_SERVER_AUTHORIZER_AUTHORIZER_DATABASE_URL=
LOCALHOST_SERVER_AUTHORIZER_AUTHORIZER_REDIS_URL=
SERVER_SUPABASE_MINIO_SERVER_HOST=
SERVER_SUPABASE_MINIO_ACCESS_KEY=
SERVER_SUPABASE_MINIO_SECRET_KEY=
SERVER_SUPABASE_PORT=
SERVER_SUPABASE_KEYV_URL=